* { margin: 0; padding: 0; }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#canvas {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.arrow-button {
  position: absolute;
  z-index: 999;
  border: white 3px solid;
  background-color: transparent;
  border-radius: 90%;
  color: white;
  width: 70px;
  height: 70px;
  padding: 1%;
  font-size: 24px;
  cursor: pointer;
}

#prev-button {
  top: 50%;
  left: 20px;
}

#next-button {
  top: 50%;
  right: 20px;
}